body {
    background-color: rgb(255, 255, 255);
    margin: 0; 
}

.Panel {
    display: block;
    position: fixed;
    width: 130px;
    height: 100%;
    padding: 0px;
    
    background-color: rgb(61, 61, 61);
}

.Panel a {
    flex-direction: column;
    text-decoration: none;
    
    display: block;

    padding-top: 25px;
    padding-left: 22%;

    color: rgb(255, 255, 255);
    font-size: 25px/25px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.Content {
    display: block;
    position: sticky;

    width: 600px;
    padding-top: 10px;
    padding-left: 130px;
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 800px){.Content {max-width: 500px;}}
@media(max-width: 750px){.Content {max-width: 450px;}}
@media(max-width: 700px){.Content {max-width: 400px;}}
@media(max-width: 650px){.Content {max-width: 350px;}}
@media(max-width: 600px){.Content {max-width: 300px;}}
@media(max-width: 550px){.Content {max-width: 250px;}}
@media(max-width: 500px){.Content {max-width: 200px;}}