body {
    background-color: rgb(255, 255, 255);
    margin: 0; 
}

.Panel {
    display: block;
    position: fixed;
    width: 30vh;
    height: 100vh;
    padding: 0px;
    
    background-color: rgb(61, 61, 61);
}

.Panel a {
    flex-direction: column;
    text-decoration: none;
    
    display: block;

    width: 15vh;
    padding-top: 25px;
    padding-left: 22%;

    color: rgb(255, 255, 255);
    font-size: 25px/25px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.Content {
    display: block;
    position: sticky;

    width: 100vh;
    padding-top: 10px;
    left: 30%;
    
    text-align: center;
}