{% extends "panel.html" %}

{% block content %}
        {% for p in posts %}
            <section class="Blog">
                <article class="Date">
                    <input id="{{p.id}}" type="checkbox" >
                    <label for="{{p.id}}">
                        <a name="a{{p.id}}"></a>
                        <h3>{{p.date}}</h3>
                    </label>
                </article>
                <article class="Text">
                    <p>{{p.text}}</p>
                </article>
            </section>
        {% endfor %}
{% endblock content %}